{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0">{{ hostname|dots }}</h1>
        <p>
            <strong><a href="{{ url_for('index') }}">&laquo; all hosts</a></strong>
            |
            {% for group in groupings %}
                {% if group == current %}
                    <strong>{{ group }}</strong>
                {% else %}
                    <a href="{{ url_for('grouping', group=group, hostname=hostname) }}">{{ group }}</a>
                {% endif %}
                {% if not loop.last %}|{% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% for metric in metrics %}
<div class="row">
    {% for period in ('day', 'week') %}
    <div class="span7">
        <p><img src="{{ hostname|render(metric, from=period) }}" /></p>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
