{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0">{{ hostname|dots }}</h1>
        <p>
            <strong><a href="{{ url_for('index') }}">&laquo; all hosts</a></strong>
            |
            {% for group in groupings %}
                {% if group == current %}
                    <strong>{{ group }}</strong>
                {% else %}
                    <a href="{{ url_for('grouping', group=group, hostname=hostname) }}">{{ group }}</a>
                {% endif %}
                {% if not loop.last %}|{% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% for chunk in metrics|batch(2) %}
<div class="row">
    {% for metric in chunk %}
    <div class="span7">
        <img src="{{ baseurl }}/render/?target={{hostname}}.{{ metric }}&height=200&width=400&from=-2hours" />
        <p><strong>{{ metric }}</strong></p>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
