{% extends "base.html" %}
{% block body %}
<ul>
    {% for domain, hosts in domains %}
    <li>
        <strong>{{ domain }}</strong>
        <ul>
            {% for host in hosts %}
            <li>
                <strong>{{ host }}:</strong>
                {% for group in groupings %}
                <a href="{{ url_for('grouping', hostname=host + '_' + domain,
                    group=group) }}">{{ group }}</a>
                {% if not loop.last %}|{% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
