{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0;"><a href="{{ parent }}">{{ group.title }}</a></h1>
    </div>
</div>

<div class="row">
    <div class="span16">
        <h3>Overview</h3>
    </div>
</div>
<div class="row">
    {% for tuple in group.overview|batch(2) %}
    <div class="span7">
        {% for ometric in tuple %}
            {% for graph in ometric.graphs(group=gname) %}
                {% include "_graph.html" %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="span16">
        <h3 style="display: inline;">{{ metric.title }}</h3>
        <span>(
        {% if "%s" not in metric.path %}
        {{ metric.path|truncate(30, True) }}
        {% else %}
        it's complicated
        {% endif %}
        )</span>
    </div>
</div>
<div class="row">
    <div class="span16">
        <p>{% include "_metric_groups.html" %}</p>
    </div>
</div>
<div class="row">
    <div class="span16">
        <p>Time period: <strong>{{ period }}</strong></p>
    </div>
</div>
{% for hosts in group.hosts|sort|batch(per_row) %}
<div class="row">
    <div class="span16">
    {% for host in hosts %}
        {% for graph in metric.graphs(host) %}
                {% if graph|composer %}<a href="{{ graph|composer }}">{% endif %}
                <img src="{{ graph|render(title=host, **thumbnail_opts) }}" />
                {% if graph|composer %}</a>{% endif %}
            {% if not loop.last %}<br />{% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
