{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1>{{ group.title }}</h1>
        <p><a href="{{ url_for('index') }}">&laquo; Index</a></p>
    </div>
</div>
<div class="row">
    <div class="span16">
        <p>Time period: <strong>{{ period }}</strong></p>
    </div>
</div>
{% for metric in group.metrics %}
<div class="row">
    <div class="span16">
        <h3 style="display: inline;">{{ metric.title }}</h3>
        <span>(
        {% if "%s" not in metric.path %}
        {{ metric.path|truncate(20, True) }}
        {% else %}
        it's complicated
        {% endif %}
        )</span>
    </div>
</div>
    {% for hosts in group.hosts|sort|batch(per_row) %}
<div class="row">
    <div class="span16">
    {% for host in hosts %}
        {% for graph in metric.graphs(host) %}
                {% if graph|composer %}<a href="{{ graph|composer }}">{% endif %}
                <img src="{{ graph|render(title=host, **thumbnail_opts) }}" />
                {% if graph|composer %}</a>{% endif %}
            {% if not loop.last %}<br />{% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
    {% endfor %}
{% endfor %}
{% endblock %}
