{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0">{{ host|dots }}</h1>
        <p>
            <strong><a href="{{ url_for('collection', collection=collection) }}">&laquo; {{ collection }}</a></strong>
            |
            {% for mgroup in metric_groups %}
                {% if mgroup == current_group %}
                    <strong>{{ mgroup }}</strong>
                {% else %}
                    <a href="{{ url_for('host_metrics', collection=collection, group=group, metric_group=mgroup, host=host, period=current_period) }}">{{ mgroup }}</a>
                {% endif %}
                {% if not loop.last %}|{% endif %}
            {% endfor %}
        </p>
        <p>
        timeperiod:
        {% for period in periods %}
            {% if period == current_period %}
                <strong>{{ period }}</strong>
            {% else %}
                <a href="{{ url_for('host_metrics', collection=collection, group=group, metric_group=current_group, host=host, period=period) }}">{{ period }}</a>
            {% endif %}
            {% if not loop.last %}|{% endif %}
        {% endfor %}
        </p>
    </div>
</div>
{% for tuple in metrics|batch(2) %}
<div class="row">
    {% for graph in tuple %}
    <div class="span7">
        {% if graph|composer %}
        <a href="{{ graph|composer }}" title="Click for Graphite composer">
            <img src="{{ graph|render }}" />
        </a>
        {% else %}
            <img src="{{ graph|render }}" />
        {% endif %}
        <table>
            <thead>
                <tr><th>Metric</th><th>Min</th><th>Mean</th><th>Max</th></tr>
            </thead>
            <tbody>
            {% for metric in graph.stats %}
            <tr>
                <td>{{ metric.target.split('.')[1:]|join('.') }}</td>
                <td>{{ metric.stats.formatted.min }}</td>
                <td>{{ metric.stats.formatted.mean }}</td>
                <td>{{ metric.stats.formatted.max }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
