{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0">{{ hostname|dots }}</h1>
        <p>
            <strong><a href="{{ url_for('index') }}">&laquo; all hosts</a></strong>
            |
            {% for group in groupings %}
                {% if group == current_group %}
                    <strong>{{ group }}</strong>
                {% else %}
                    <a href="{{ url_for('grouping', group=group, hostname=hostname, period=current_period) }}">{{ group }}</a>
                {% endif %}
                {% if not loop.last %}|{% endif %}
            {% endfor %}
        </p>
        <p>
        timeperiod:
        {% for period in periods %}
            {% if period == current_period %}
                <strong>{{ period }}</strong>
            {% else %}
                <a href="{{ url_for('grouping', group=current_group, period=period, hostname=hostname) }}">{{ period }}</a>
            {% endif %}
            {% if not loop.last %}|{% endif %}
        {% endfor %}
        </p>
    </div>
</div>
{% for graph in metrics %}
<div class="row">
    <div class="span7">
        <p><img src="{{ graph|render }}" /></p>
    </div>
    <div class="span7">
        <ul>
    {% for stat in graph.children %}
    <li>{{ stat }} &raquo; min: {{ stat.min }} | mean: {{ stat.mean }} | max: {{ stat.max }}</li>
    {% endfor %}
</ul>
    </div>
</div>
{% endfor %}
{% endblock %}
