{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1 style="margin-bottom: 0">{{ host }}.<a href="{{ url_for('domain', domain=domain) }}">{{ domain }}</a></h1>
        <p>{% include "_metric_groups.html" %}</p>
        <p>
        timeperiod:
        {% for period in periods %}
            {% if period == current_period %}
                <strong>{{ period }}</strong>
            {% else %}
                <a href="{{ url_for('host', domain=domain, metric_group=current_mgroup, host=host, period=period) }}">{{ period }}</a>
            {% endif %}
            {% if not loop.last %}|{% endif %}
        {% endfor %}
        </p>
    </div>
</div>
{% for tuple in metrics|batch(2) %}
<div class="row">
    {% for graph in tuple %}
    <div class="span7">
        {% include "_graph.html" %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
