{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="span16">
        <h1>Collections</h1>
    </div>
</div>
<div class="row">
    <div class="span16">
        <ul>
        {% for slug, collection in collections %}
            <li>
                <strong>{{ collection.title }}</strong>
                <ul>
                {% for group in collection.groups|sort %}
                <li><a href="{{ url_for('group', collection=slug, group=group) }}">{{ group }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
